@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* shared style */
.content{
    font-size: 20px;
    text-align: justify;
}
.btn-shared{
    height: 30px;
    width: 100px;
}
.container-shared-content{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}
.title{
    text-align: center;
    margin: center;
}


/* Header section */

.banner-container{
    max-width: 1440px;
    Height: 650px;
    background-image: url(/B10A1-Challenge-Begins/assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 20px;
}
.banner-headline{
    font-size: 40px;
    text-align: center;
    margin: 0 100px;
}
.banner-content{
    font-size: 20px;
    margin: 0 100px;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
}
.banner-btn{
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 20px;
}
.btn-style{
    background-color: black;
    color: white;
    border: nones;
    height: 30px;
    width: 160px;
}

/* section-one */

.section-one{
    padding-top:  20px;
    max-width: 1300px;
    Height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 60px;
}
.contaimer-one-title{
    text-align: center;
}
.contaimer-one-content{
    text-align: justify;
    margin: o auto;
    max-width: 1000px;
}
.container-two{
    padding-top:  20px;
    max-width: 1100px;
    Height: 300px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
}

.container-three{
    padding-top:  20px;
    max-width: 1100px;
    Height: 300px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}
.container-four{
    padding-top:  20px;
    max-width: 1100px;
    Height: 300px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}

/* Section-two */

.section-two{
    padding-top:  20px;
    max-width: 1300px;
    Height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
}
.inspiration-title{
    text-align: center;
}
.inspiration-video{
    max-width: 1260px;
    Height: 700px;
    margin: 0 auto;
    border: 30px solid rgb(223, 218, 218);
}

/* section-three */

.section-three{
    padding-top: 300px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

/* section-four */
.description-part{
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 30px;
    justify-content: space-around;
    padding-bottom: 20px;
}
.section-four-description-1{
    padding: 20px;
    Width: 400px;
    Height: 200px;
    background-color: rgba(255, 76, 30, 0.05);
}
.section-four-description-2{
    padding: 20px;
    Width: 400px;
    Height: 200px;
    background-color: rgba(0, 76, 232, 0.05);
}
.section-four-description-3{
    padding: 20px;
    Width: 400px;
    Height: 200px;
    background-color: rgba(255, 223, 0, 0.05);
}



/* section five */
.section-five{
    max-width: 1300px;
    Height: 200px;
    background-image: url(/B10A1-Challenge-Begins/assets/handshake.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.section-five-title{
    color: #FFFFFF;
    text-align: center;
}
.section-five-content{
    color: #FFFFFF;
    width: 600px;
    text-align: justify;
}
.comment-box{
    width: 680px;
    display: flex;
    align-content: center;
    margin-left: 450px;
    height: 90px;
    gap: 10px;
}

/* Footer */
.footer{
    max-width: 1440px;
    Height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 40px;
    gap: 20px;
    justify-content: space-between;
    background-color: rgba(13, 19, 33, 0.03);
}
.footer-position{
    margin-left: 500px;
    display: flex;
    gap: 5px;
}